@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
	--color-primary: #e73034;
	--color-secondary: #5d1d1e;
	--color-light: #d1cdc1;
	--color-light-shadow: #a09a8e;
	--color-dark: #0e0e0c;

	--font-logo: 'Anton SC', sans-serif;
	--font-body: 'Poppins', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: var(--color-dark);
	position: relative;
	padding: 80px 20px;
	box-sizing: border-box;
	color: var(--color-dark);
	font-family: var(--font-body);
}

body::before {
	content: '';
	position: fixed;
	inset: 0;
	pointer-events: none;
	background: rgba(0, 0, 0, 0.15);
	filter: url(#noiseFilter);
	mix-blend-mode: multiply;
	opacity: 0.8;
}
